body {
	padding: 20px;
	background-color: #FAFAF8;
	overflow-y: scroll;
}

main {
	max-width: 1000px;
	margin-left: 150px;
	margin-right: 150px;
}

@media only screen and (max-width: 600px) {
	main {
		max-width: 1300px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

footer {
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 45px;
	line-height: 0.9;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
}

p {
	font-family: Arial;
	font-size: 17.5px;
}

.pole {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
							linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
	background-size: 10px 10px;
	padding: 10px;
	font-family: Arial;
 }